<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <form action="/listings" method="post">
            <input type="text" placeholder="Enter title" name="listing[title]">
            <br>
            <textarea type="text" placeholder="Enter description" name="listing[description]"></textarea>
            <br>
            <input type="text" placeholder="Enter image URL/Link" name="listing[image]">
            <br>
            <input type="number" placeholder="Enter price" name="listing[price]">
            <br>
            <input type="text" placeholder="Enter location" name="listing[location]">
            <br>
            <button type="submit">Add</button>
        </form>
    </body>